<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <link rel="stylesheet" href="/src/css/styles.css">
    <title>Equipos Scraper</title>
    <link rel"canonical" href="https://equipos-scraper.herokuapp.com/">
</head>

<body>
    <div>
        {{{body}}}
    </div>
</body>
</html>