<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Tabla deportiva de datos sobre la 1ra división de fútbol argentino. Hecha por Juan Pedro MELE con Node JS, hosteada en Heroku usando la base de datos MongoDB Atlas.">
<meta name="author" content="MELE Juan Pedro">
<link rel="canonical" href="http://equipos-scraper.herokuapp.com/" />
<html>
<head>
    <link rel="StyleSheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <h1><title>Equipos Scraper - Tabla de posiciones deportivas</title></h1>
</head>
<body >
        {{{body}}}
</body>
</html>